Printer {
    padding: 1 2;
}

PinCodeScreen {
    align: center middle;

    & Input {
        max-width: 40;
    }
}

FixPrinterScreen {
    align: center middle;

    & Vertical {
        border: tall $accent;
        background: $panel;
        text-align: center;
        width: 50;
        height: auto;
    }

    & #status_msg {
        padding-bottom: 1;
    }
}
