Printer {
    padding: 1 2;
}

PinCodeScreen {
    align: center middle;

    & Input {
        max-width: 40;
    }
}

FixPrinterScreen {
    align: center middle;

    & #status {
        border: tall $accent;
        background: $panel;
        padding: 1 2;
        text-align: center;
        width: 50;
    }
}
